@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;

@SecuritySiteKey(Model.SessionParamsData)

<!-- !PAGE CONTENT! -->
<div id="ecommerce-tag" class="ecommerce-container">
    @{
        var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
        @RenderTemplate("ProductList.cshtml", appTheme, Model, true)
    }
</div>
<div class="w3-overlay simplisity_loader" style="z-index:999;"></div>
