@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

<!-- !PAGE CONTENT! -->
<div id="ecommerce-tag" class="ecommerce-container">


    @{

        var sessionParams = (SessionParams)Model.SessionParamsData;

        PortalShopLimpet portalShop = null;
        var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
        portalShop = productDataList.PortalShop;
        @RenderTemplate("ProductList.cshtml", portalShop.AppTheme, Model, true)

        @AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + portalShop.AppTheme.AppThemeFolder + "/" + portalShop.AppTheme.AppVersionFolder + "/resx/")

    }

</div>

<script>
    $(document).ready(function () {
    });
</script>